<a href="https://colab.research.google.com/github/bsrikanth24/Google-Colab/blob/main/features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!find pyspark

find: ‘pyspark’: No such file or directory

In [2]:
!pip -q install pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [3]:
from pyspark.sql import functions as F, SparkSession

In [5]:
from pyspark.context import SparkContext
#from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [6]:
# this conf ref: https://sparkbyexamples.com/spark/spark-stop-info-and-debug-logging-console/
spark.sparkContext.setLogLevel("ERROR")

In [7]:
# create sample data
print("[INFO] Sample data\n")

data = [
    {
	    "client.id": "1",
	    "client.name": "Pepsico"
    },
    {
	    "client.id": "2",
	    "client.name": "Wells Fargo"
    }
]

dataframe = spark.createDataFrame(data)
dataframe.show()

[INFO] Sample data

+---------+-----------+
|client.id|client.name|
+---------+-----------+
|        1|    Pepsico|
|        2|Wells Fargo|
+---------+-----------+

In [8]:
# withColumns feature
print("[INFO] Add multiple columns: withColumns (new in release 3.3.0)\n")

new_columns = {
    "client.country": F.lit("USA"),
    "client.job": F.lit("Data Engineer")
}

print("[INFO] new_columns dict:\n", new_columns, "\n")

dataframe = dataframe.withColumns(new_columns)
dataframe.show()

[INFO] Add multiple columns: withColumns (new in release 3.3.0)

[INFO] new_columns dict:
 {'client.country': Column<'USA'>, 'client.job': Column<'Data Engineer'>}

+---------+-----------+--------------+-------------+
|client.id|client.name|client.country|   client.job|
+---------+-----------+--------------+-------------+
|        1|    Pepsico|           USA|Data Engineer|
|        2|Wells Fargo|           USA|Data Engineer|
+---------+-----------+--------------+-------------+

In [9]:
# withColumnsRenamed feature
print("[INFO] Rename multiple columns: withColumnsRenamed (new in release 3.4.0)\n")

columns_renamed = {column: column.replace(".", "_") for column in dataframe.columns}

print("[INFO] columns_renamed dict\n", columns_renamed, "\n")

dataframe = dataframe.withColumnsRenamed(columns_renamed)
dataframe.show()

# isEmpty feature
print("[INFO] Empty dataframe check: dataframe.isEmpty() (new in release 3.3.0)\n")
print("dataframe is empty?\n", dataframe.isEmpty())

[INFO] Rename multiple columns: withColumnsRenamed (new in release 3.4.0)

[INFO] columns_renamed dict
 {'client.id': 'client_id', 'client.name': 'client_name', 'client.country': 'client_country', 'client.job': 'client_job'}

+---------+-----------+--------------+-------------+
|client_id|client_name|client_country|   client_job|
+---------+-----------+--------------+-------------+
|        1|    Pepsico|           USA|Data Engineer|
|        2|Wells Fargo|           USA|Data Engineer|
+---------+-----------+--------------+-------------+

[INFO] Empty dataframe check: dataframe.isEmpty() (new in release 3.3.0)

dataframe is empty?
 False